.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  
  .pagination-controls button {
    margin:0 0.5rem; /* margen de los botones entre ellos */
  }