.movie-card {
    background-color: rgb(37, 36, 36); /* Fondo de la tarjeta */
    padding: 1rem; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
  }
  /* prbando */
  
  .movie-card img {
    max-width: 70%; /* (ancho) Asegura que la imagen no sobrepase el ancho de la tarjeta */
    height: 80%; /* (altura) Mantiene la proporción de la imagen */
  }

  .movie-card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem; /* Tamaño del título */
  }
  
  .movie-card p {
    margin-top: 0.1rem;
    font-size:1rem; /* Tamaño de la fecha */
   }