/*.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Crea columnas de al menos 200px 
  gap: 13rem; }/* Espacio entre tarjetas */

  .movie-list{
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;

  }

